html,
body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: #ffffff;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#canvas {
    border: 2px solid black;
}
